<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{CSS_ADD}admin/bootstrap.css">
</head>
<body>
<div class="container" style="margin-top: 50px">
    {if $data}
    <table class="table-bordered table">
        <tr><th>id</th><th>用户名</th><th>密码</th></tr>
        {foreach $data as $v}
        <tr><td>{$v['id']}</td><td>{$v['uname']}</td>
            <td>{$v['pass']}</td></tr>
        {/foreach}
    </table>
    {else}
    <table>
        <tr><td>没有数据</td></tr>
    </table>
    {/if}
</div>
</body>
</html>
